.header {
    background-color: #F55A5A;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;


}

.header--content--title h1 {
    margin:0;
}

.header--image{
    width: 24px;
    height: 24px;
}

.header--title{
    margin-left: 1%;
    color: white;
}
